body {
    background-color: lightskyblue;
    font-size: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

img {
    border-radius: 10px;
}
